.todo-button {
    width: 500px;
    padding: 25px 20px;
    color: #fff;
    font-family: "Courier Prime", monospace;
    background-color: #232323;
    transition: .5s;
}

.todo-button:hover {
    background-color: #3c3c3c;
}

.addTodo {
    font-size: 32px;
    font-weight: bold;
}

.todo-button-item {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.new-todo {
    width: 290px;
    border-radius: 20px;
    background-color: #0075ff;
    transform: scale(1);
    transition: .5s;
}

.new-todo:hover {
    background-color: #268bff;
    transform: scale(1.02);
}